.box06{
    animation: blink 20s linear infinite; 
  }
  .box14{
    animation: blink 15s linear infinite; 
  }
.box01{
    animation: blink 10s linear infinite; 
  }
.box11{
    animation: blink 3s linear; 
  }
.box18{
    animation: blink 7s linear; 
  }
.box19{
    animation: blink 25s linear infinite; 
  }
  .box16{
    animation: blink 30s linear infinite; 
  }
  @keyframes blink{
    80% {
      opacity: 1 
    }
    83% {
      opacity: .5
    }
    85% {
      opacity: 1 
    }
  }