.box6{
    animation: blink 20s linear infinite; 
  }
  .box14{
    animation: blink 15s linear infinite; 
  }
.box1{
    animation: blink 10s linear infinite; 
  }
.box11{
    animation: blink 3s linear; 
  }
.box18{
    animation: blink 7s linear; 
  }
.box19{
    animation: blink 25s linear infinite; 
  }
.box16{
    animation: blink 30s linear infinite; 
}

.sqr6{
    animation: blink 20s linear infinite; 
  }
.sqr14{
    animation: blink 15s linear infinite; 
  }
.sqr1{
    animation: blink 10s linear infinite; 
  }
.sqr11{
    animation: blink 3s linear; 
  }
.sqr18{
    animation: blink 7s linear; 
  }
.sqr19{
    animation: blink 25s linear infinite; 
  }
.sqr16{
    animation: blink 30s linear infinite; 
}


@keyframes blink{
    80% {
      opacity: 1 
    }
    83% {
      opacity: .5
    }
    85% {
      opacity: 1 
    }
  }