@media (min-width:$sizeMediumTwo) and (max-width:$sizeLargeOne){
    h3{
      font-size: 25px;
    }
    p{
      font-size: 25px;
    }
    .size{
        grid-template-columns: 2fr 20fr 2fr;
        grid-template-rows: 1fr 20fr 1fr;
      }
      .head{
        grid-column: 1 /span 3;
        grid-row: 1;
      }
      .left{
        grid-column: 1;
        grid-row: 2;
      }
      .content{
        grid-column: 2;
        grid-row: 2;
      }
      .right{
        grid-column: 3;
        grid-row: 2;
      }
      .foot{
        grid-column: 1/ span 3;
        grid-row: 3;
      }
   
    }
    