@media (min-width:$sizeMediumOne) and (max-width:$sizeMediumTwo){
    h3{
      font-size: 25px;
    }
    .size{
        grid-template-columns: 3fr 20fr 3fr;
        grid-template-rows: 1fr 20fr 1fr;
      }
      .head{
        grid-column: 1 /span 3;
        grid-row: 1;
      }
      .left{
        grid-column: 1;
        grid-row: 2;
      }
      .content{
        grid-column: 2;
        grid-row: 2;
      }
      .right{
        grid-column: 3;
        grid-row: 2;
      }
      .foot{
        grid-column: 1/ span 3;
        grid-row: 3;
      }

        

}