$link-primary: blue;
$link-secondary: purple;


$branco: #f7f4ef;
$preto: #151515;
$azul: #3d467e;
$amarelo: #fed200;
$vermelho: #D10A0F;

$background-1: #ebf2e2;

$border-1: #9e9393;

$global-radius: 4px;
