
$branco: #f7f4ef;
$preto: #151515;
$azul: #30668B;
$amarelo: #fed200;
$vermelho: #BE0C00;



$sizeMobile: 450px;
$sizeMediumOne: 451px;
$sizeMediumTwo: 670px;
$sizeLargeOne: 1024px;
$sizeLargeTwo: 1025px;

$border-1: #9e9393;

$global-radius: 4px;
